extends layout

block content
    .jumbotron
      .container
        h1 How May I Help You?
        p hello, lol
        a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;


    .container
      .row
        .col-md-4
          h2 About Us
          p We are f**king awesome.
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Services
          p We don't provide services.
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Get in Touch
          p Call me at 215-555-9999
          a.btn.btn-default(href='#') View Details
