<div class="col_4 block">
	<h4>HTML 101</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
	<a class="button" href="#">Class Detail</a>
	</div>
	
	<div class="col_4 block">
	<h4>JAVA 101</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
	<a class="button" href="#">Class Detail</a>
	</div>
	
	<div class="col_4 block">
	<h4>C++ 101</h4>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
	<a class="button" href="#">Class Detail</a>
	</div>